#myScene{
  height: 300px;
  width: 300px;
  display: block;
  /* float: left; */
  margin-left: 150px;
  margin-right: 0;
  overflow:hidden;
}

  #teorieSus {
    float: top;
    top: 20px;
    margin-left: 600px;
    color: black;
    text-align: center;
  }
  #teorieJos {
    margin-right: 0;
    color: black;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Create two equal columns that floats next to each other */
.column {
  /* width: 40%; */
  max-width:300px;
  padding: 10px;
  position: relative;
}

