body {
    font-family: 'Lato', sans-serif;position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: block; 
  }
  h1 {
	color:blueviolet;
	text-align: center;	
  }
  .serif {
	font-family: "Times New Roman", Times, serif;
  }
 
  .btn-group button {
      
    float: center;
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-bottom: none;
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }