.header {
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
  }

  body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    overflow:hidden;            
}

.contentCanvas {
    display: block;
    float: none;
    margin: 0 auto;
    overflow:hidden;
}

  h1 {
	color:blueviolet;
	text-align: center;	
  }

  h2 {
	color:white;
	text-align: center;	
  }

  .serif {
	font-family: "Times New Roman", Times, serif;
  }

  td, tr {
  border-bottom: 1px solid #ddd;
  padding-right: 100%;
  }

  th {
	padding: 30px;
  }

/* Create three unequal columns that floats next to each other */
.column {
	float: left;
	padding: 0px;
  }
  
  /* Left and right column */
.column.side {
	width: 45%;
	background-color:#5c0099;
}
  
  /* Middle column */
.column.middle {
	width: 49%;
	background-color:#5c0099;
}
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column.side, .column.middle {
	  width: 100%;
    }
}



	  
