.tut_overview{ /* pentru sub meniu */
  display :none;
  margin-left:10px; /* margin-right: 10px; */
  background-color :#ddd;
  line-height:1.8em;
 }

 #enunt {
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
}

#myScene{
  display: block;
    float: left;
    margin-right: 0;
    overflow:hidden;
}
canvas {
  height: 400px;
  width: 800px;
}

h1 {
  margin: 0;
	color:blueviolet;
  text-align: left;
  padding-left: 300px;
  }

  h2 {
  margin: 0;
	background-color: blueviolet;
	color:white;
  text-align: left;
  padding-left: 300px;
  }

  .serif {
	font-family: "Times New Roman", Times, serif;
  }

  .header {
    background-color: #F1F1F1;
    text-align: left;
    padding-left: 280px;
    padding: 20px;
    /* height: 200px; */
    }

body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: left;
    padding-left: 300px;
    padding-bottom: 10px;
    height: 30px;
 }

   /* Main content */
   .main {
    margin-bottom: 0;
    margin-right: 200px; 
    /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 0px; /*  0px 10px; */
    width: 100%;
  }

  /* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
  /* Fixed sidenav, full height */
  .sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;

  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 16px 6px 8px;/* distanta intre butoare */ 
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
 
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    
    color: white;
    background-color: #262626;
    padding-right: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    color: white;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }